{% extends 'base.html' %}
{% block content %}
<!--{% load crispy_forms_tags %}-->

<!-- PAGE TITLE-->

<header class="py-8 py-md-11" style="background-image: none">
  <div class="container text-center py-xl-2">
    <h1 class="display-4 fw-semi-bold mb-0">Forget Password</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-scroll justify-content-center">
        <li class="breadcrumb-item">
          <a href="#" class="text-gray-800">Home</a>
        </li>
        <li class="breadcrumb-item text-gray-800 active" aria-current="page">
          Forget Password
        </li>
      </ol>
    </nav>
  </div>
  <!-- IMG -->
  <img src="...html" alt="..." class="d-none img-fluid" />
</header>

<style>
  .login_input {
  }
</style>

<!-- Login -->

<div class="container mb-11">
  <div class="row gx-0">
    <div class="col-xl-4 mx-auto">
      <!-- Login -->
      <h3 class="mb-6">Enter Your Email Here!!</h3>
      {% include 'components/msg.html'%}
      <!-- Form login -->
      <form method="post">
        {% csrf_token %}

        <!-- email -->
        <div class="form-group mb-5">
          <p>{{ form.email }}</p><!--  form|crispy-->
        </div>

        <!-- Submit -->
        <button class="btn btn-block btn-primary" type="submit">
          SEND CONFIRMATION LINK
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
